<%= form_with(model: [book, copy]) do |form| %>
  <% if copy.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(copy.errors.count, "error") %> prohibited this copy from being saved:</h2>

      <ul>
        <% copy.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.hidden_field :status, value: 'on loan' %>
    <div class="field">
      <%= form.label :borrower, 'Borrower\'s name:', class: 'label' %>
      <%= form.text_field :borrower, class: 'input' %>
    </div>
    <div class="field">
      <%= form.label :due_date, 'Return due date:', class: 'label' %>
      <%= form.text_field :due_date, type: 'date', class: 'input' %>
    </div>
    <%= form.submit %>
  </div>
<% end %>
