<%= form_with(model: [book, copy]) do |form| %>
  <% if copy.errors.any? %>
    <h5 class="subtitle is-5 has-text-danger">
      <%= pluralize(copy.errors.count, "error") %> prohibited this book from being saved
    </h5>
  <% end %>

  <div>
    <%= form.hidden_field :status, value: 'on loan' %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="field">
      <%= form.label :due_date, 'Return due date:', class: 'label' %>
      <%= form.text_field :due_date, type: 'date', class: 'input' %>
      <% copy.errors.full_messages_for(:due_date).each do |msg| %>
        <p class="has-text-danger"><%= msg %></p>
      <% end %>
    </div>
    <%= form.submit 'Borrow copy', class: 'button' %>
  </div>
<% end %>
