<section class="section">
  <div class="block">
    <h1 class="title is-1">Books</h1>
  </div>
  <div class="block">
    <h4 class="subtitle is-4">Showing <%= @books.length %> out of <%= @count %> books</h4>
  </div>
</section>

<% if notice %>
  <section class="section">
    <p style="color: green"><%= notice %></p>
  </section>
<% end %>

<section class="section">
  <div class="columns">
    <div class="column is-9">
      <% @books.each do |book| %>
        <div class="card block">
          <div class="card-content"><%= render book %></div>
        </div>
      <% end %>
      <%== pagy_bulma_nav(@pagy) %>
    </div>

    <div class="column is-3">
      <%= render "search_form" %>
    </div>
  </div>
</section>

<section class="section level">
    <%= link_to "Add a new book", new_book_path %>
</section>