<!DOCTYPE html>
<html>
  <head>
    <title>Bookish</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <nav class="navbar is-light" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <h3 class="title is-3"><%= link_to "Bookish", "/", class: "navbar-item" %></h3>
      </div>
      <div class="navbar-menu">
        <div class="navbar-start">
          <%= link_to "Books", books_path, class: "navbar-item" %>
          <%= link_to "Authors", authors_path, class: "navbar-item" %>
        </div>
        <div class="navbar-end">
          <% if !user_signed_in? %>
            <%= link_to "Log in", new_user_session_path, class: "navbar-item" %>
            <%= link_to "Sign up", new_user_registration_path, class: "navbar-item" %>
          <% else %>
            <%= link_to "Account", edit_user_registration_path, class: "navbar-item" %>
          <% end %>
        </div>
      </div>
    </nav>g

    <% if notice %>
      <section class="section">
        <p class="alert alert-success has-text-success"><%= notice %></p>
      </section>
    <% end %>
    <% if alert %>
      <section class="section">
        <p class="alert alert-danger has-text-danger"><%= notice %></p>
      </section>
    <% end %>

    <%= yield %>

  </body>
</html>
